/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/donation9.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-description {
    max-width: 70%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 30px;
}

.description {
    max-width: 70%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-primary {
    margin-top: 30px;
    padding: 15px 12px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #ffffffd6;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
}

.btn-secondary {
    margin-top: 30px;
    padding: 15px 12px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #707070;;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

/* Donation Section Styles */

.section-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    text-align: center;
}

.select-donation-plan {
    background-color: yellow;
}

.card-holder {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
}

.select-donation-amount {
    height: 80px;
    width: 80px;
    background-color: lightblue;
}

.selected-amount {
    border: 2px solid red;
}

#custom-donation-amount {
    border: none;
    border-bottom: 1px solid black;
}

/* Donate Today Section Styles */
.plan-card-holder {
    background-color: yellow;
}

.card {
    background-color: lightblue;
    width: 30%;
    min-width: 100px;
    max-width: 350px;
}

.card-image {}

.card-title {}

.card-description {}

/* Posts Section Styles */
.post-section-content {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    width: 70%;
    height: 30%;
    max-height: 500px;
    gap: 5%;
    /* justify-content: center; */
    align-items: center;
}

.reverse-post {
    flex-direction: row-reverse;
}

.post-content {
    width: 45%;
}

.post-image {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-image img {
    width: 100%;
    height: 20px;
}

.post-image-1 {
    background-image: url('../images/donation2.jpg');
}

.post-image-2 {
    background-image: url('../images/donation2.jpg');
}

/* Get My Updates Sectoin Styles */
.subscription-container {
    background-color: yellow;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#email {}

input[type='submit'] {
    color: red;
}

/* Motivation Section Styles */
.motivation-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.motivation-quote {}

.sub-motivation {}