* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    box-sizing: border-box;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/donation9.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    max-width: 70%;
    text-align: center;
}

.banner-btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 10px;
}

/* Donation Section Styles */

.section-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    text-align: center;
}

.select-donation-plan {
    background-color: yellow;
}

.card-holder {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
}

.select-donation-amount {
    height: 80px;
    width: 80px;
    background-color: lightblue;
}

.selected-amount {
    border: 2px solid red;
}

#custom-donation-amount {
    border: none;
    border-bottom: 1px solid black;
}

/* Donate Today Section Styles */
.plan-card-holder {
    background-color: yellow;
}

.card {
    background-color: lightblue;
    width: 30%;
    min-width: 100px;
    max-width: 350px;
}

.card-image {

}

.card-title {

}

.card-description {

}

/* Posts Section Styles */
.post {
    display: flex;
    width: 70%;
    gap: 5%;
}

.post-content {
    width: 45%;
}

.post-image {
    width: 50%;
}

/* Get My Updates Sectoin Styles */
.subscription-container {
    background-color: yellow;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#email {

}

input[type='submit'] {
    color:red;
}